</main>
<footer>
  <p>Made with <a
      href="https://buymeacoffee.com/abdevweb"
      target='_blank'
      title="Cliquez ici pour m'offrir un café."
      class="footer-icon"
    >☕</a> & <a
      href="https://github.com/Baha-Abdelatif/Quai-Antique"
      target='_blank'
      title="Cliquez ici pour aimer ce projet sur Github."
      class="footer-icon"
    >❤️</a> by Abdelatif BAHA - <a
      href="https://abdevweb.com"
      target="_blank"
    >AbDevWeb</a> <span id="footer_copyright_year"></span></p>
</footer>
</body>
<script>
  const footerCopyrightYear = document.querySelector('#footer_copyright_year');
  footerCopyrightYear.textContent = new Date().getFullYear();
</script>

</html>
